img {
  height: 100vh;
}

.hero {
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.overlay { 
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  height: 150px;
  width: 400px;
  font-size: larger;
  margin-top: 30px;
  margin-bottom: 30px;
}

a {
  text-decoration: none;
}

a h2, a p {
  color: black;
}